.holder{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}
    
.abc{
    width: 100px;
    height: 100px;
    color: black;
}

.div-1{
    background-color: red;
}

.div-2{
    background-color: blue;
}

.div-3{
    background-color: green;